/*白*/
$white-color:#FFF;
$white-active-color:#FFF;
$white-text-color:#FFF;
/*黑*/
$black-text-color:#000;
/*蓝*/
$blue-color:#03A1F2;
$blue-active-color:#0391D9;
$blue-text-color:#03A1F2;
/*灰*/
$grey-color:#F8F8F8;
$grey-active-color:#DFDFDF;
$grey-text-color:#F8F8F8;
/*棕黑*/
$brown-color:#4F4F4F;
$brown-active-color:#474747;
$brown-line-color:#808080;
/*红*/
$red-color:#F41469;
$red-text-color:#F41469;
$dark-red-color:#B13621;
$dark-grey-color:#333333;
$dark-blue-color:#038CD2;
$light-grey-color:#808080;
$button-color:#B13621;
$tip-text-color:#B13621;
$solidline-color:#D8D8D8;
/*字体*/
$font-xsmall:20px;
$font-small:24px;
$font-media:26px;
$font-large:28px;
$font-xlarge:30px;
$font-xxlarge:32px;
$font-weight:bold;
$primary-color:#404040;
$secondary-color:#808080;
$hint-color:#C2C2C2;
$fore-color:#fff;
$back-color:#F8F8F8;
$light-grey-back-color:#F9F9F9;
$SplitLine:1px solid #F1F1F1;
$BottedSplitLine:1px dotted #F1F1F1;
$headbar-height:0.88rem;
