* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	height: 100%;
}

body {
	height: 100%;
    font-size: 0;
}
#app{
	height: 100%;
}

.hide {
    display: none !important;
}
.clear{
	clear: both;
}

@import './global';

/*home*/

@import './home/home';

/*tab*/

@import './tab/tab';

/*login*/

@import './login/EnsureButton';
@import './login/LoginHeader';
@import './login/Login';
@import './login/PswInput';
@import './login/InitPsw';

/*chart*/

@import './chart/LineChart';

/*marketingdata*/

@import './marketingdata/MarketingDataChart';
@import './marketingdata/MarketingDataHome';

/*ticketConfirm*/

@import './ticketConfirm/TicketProduct';
@import './ticketConfirm/RefundConfirm';
@import './ticketConfirm/InventoryConfirm';
@import './ticketConfirm/SettlementConfirm';
@import './ticketConfirm/DeliveryConfirm';

/*list*/
@import './list/list';
@import './list/ListChangeDate.scss';
@import './list/ListUnitWhite.scss';
@import './list/ListUnitBlack.scss';

/*shoppingList*/
@import './shoppingList/ShoppingList';
@import './overview/ShelvesConsumption';
@import './overview/CustomerNumber';
@import './overview/Overview';
@import './shoppingList/ShoppingListUnit';
@import './shoppingList/ShoppingListProduct';


/*icon*/

@import './icon';

/*tab*/

@import './tab/tab-head';

/*lib*/

@import '../css/react.datepicker.base';
@import '../css/react.datepicker.theme.hackerone';

/*widget*/

@import './widget/head';
@import './widget/EnsureButton';
@import './widget/checkbox';
/*deal*/
@import './deal/Deal';
@import './deal/StatementRecord';
@import './deal/InventoryRecord';
@import './deal/DeliveryRecord';
@import './deal/ReturnRecord';
