html {
	font-size: 125%;
}

body {
	margin: 0;
	background-color: #F5F5F5;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.shelf-view{
	background-color: #FFFFFF;
	margin-left: .4rem;
	margin-right: .4rem;
	border-radius: .2rem;
	border:1px solid #D8D8D8;
	height: 1.5rem;
	font-size: .6rem;
	margin-top: .4rem;
	padding-left: .4rem;
	padding-right: .4rem;
}
.shelf-view .shelf-name{
	line-height: 1.5rem;
}
.shelf-view .down-arrow{
	float: right;
	height: .3rem;
	width: .6rem;
	margin-top: .6rem;
}
