.shopping-list-unit{
	.shelf-name{
		width: 100%;
		height: 0.88rem;
		line-height: 0.88rem;
		position: relative;
		span:nth-child(1){
			position: absolute;
			top:0.22rem;
			left: 0.20rem;
			display: block;
			width: 0.44rem;
			height: 0.44rem;
			background-image: url(../img/icon_shelf.png);
		}
		span:nth-child(2){
			display: block;
			font-size: $font-media;
			color:$primary-color;
			text-indent: 0.88rem;
		}
	}
	.shopping-list-split-line{
		margin-left: 0.88rem;
	}
	//覆盖写法ListUnitWhite.scss
	.unit-white-li{
		text-align: left !important;
		&>div:nth-child(2){
			font-size: $font-media !important;
			color: $blue-text-color !important;
		}
	}
	.product-ul{
		background-color: $brown-color;
	}
}