.home {
    background-color: #fff;
    min-height: 100%;
    img {
        width: 100%;
    }
    .qrcode-wrap {
        display: inline-block;
        width: 50%;
        margin-top: 110px;
        text-align: center;
        img {
            width: 186px;
            padding-bottom: 35px;
        }
        &:first-child {
            margin-left: -2px;
            border-right: 1px solid #ABAAAA;
        }
        &:last-child {
            float: right;
            border-left: 1px solid #ABAAAA;
        }
    }
}
